
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      Grading Sets
    </li>
  </ol>
</nav>

<%= form_with url: url_for(controller: 'grading_sets'), 
  method: :get, 
  id: 'search-form',
  class: '' do |form| 
%>
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="text" placeholder="Search by name" value="<%= params[:text] %>">
    <input class="btn btn-outline-primary" type="submit" value="Search Grading Sets" />
    <% if current_user.image_admin? %>
      <a class="btn btn-outline-secondary" type="button" href="<%= url_for controller: 'grading_sets', action: 'new' %>">
        Create Grading Set
      </a>
    <% end %>
  </div>
<% end %>

<table class="table table-striped align-middle">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Images</th>
      <th scope="col">Users</th>
      <th scope="col">Created</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @grading_sets.each do |grading_set| %>
      <tr>
        <td>
          <%= grading_set.name %>
        </td>
        <td><%= grading_set.grading_set_images.count %></td>
        <td>
          <%= grading_set.user_grading_sets.count %> 
          (<%= grading_set.user_grading_sets_complete_count %> complete)
        </td>
        <td><%= grading_set.created_at %></td>
        <td>
          <a href="<%= url_for(grading_set) %>">
            view
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>