<%
  label_class = "col-lg-4 col-md-4 fw-bold text-md-end"
  data_class = "col-lg-8 col-md-8 "
%>

<h2>
  <%= @grading_set.name %>
  &nbsp;
  <a href="<%= url_for action: 'edit', id: @grading_set.id %>" class="btn btn-sm btn-outline-primary">
    Edit
  </a>
</h2>
<p>
  Created <%= @grading_set.created_at %>
  <br/>
  Flipped percent: <strong><%= @grading_set.flipped_percent %>%</strong>
</p>

<hr/>

<div class="modal fade" id="add-user-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add User to Grading Set</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="user-search" 
          data-target-input="#selected-user"
          data-enable-button="#add-user-button"
        ></div>
      </div>
      <div class="modal-footer">
        <%= form_with url: url_for(controller: 'grading_sets', action: 'adduser', id: @grading_set.id) do |form| %>
          <input type="hidden" id="selected-user" name="user_id" />
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="add-user-button" type="submit" class="btn btn-primary" disabled>Add User</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <h3>Users</h3>
  </div>
  <% if current_user.admin? %>
    <div class="col-6 text-end">
      <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#add-user-modal">
        Add user
      </button>
    </div>
  <% end %>
</div>
<table class="table table-striped align-middle mb-5">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Complete</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @grading_set.user_grading_sets.each do |user_grading_set| %>
      <tr>
        <td>
          <%= user_grading_set.user.email %>
        </td>
        <td>
          <%= user_grading_set.complete_image_count_total %> / <%= @grading_set.total_image_count %>
        </td>
        <td style="width:1%;">
          <%= form_with url: url_for(controller: 'grading_sets', action: 'removeuser', 
            id: @grading_set.id), 
            html: {onsubmit: "return confirm('Remove #{user_grading_set.user.email} from this grading set?  It will also remove any grades entered.');"} do |form| 
          %>
            <input type="hidden" name="user_id" value="<%= user_grading_set.user.id %>" />
            <input type="submit" class="btn btn-sm btn-outline-primary" value="Remove" />
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="row">
  <div class="col-6">
    <h3>Gradeables</h3>
  </div>
  <div class="col-6 text-end">
    <a href="<%= url_for action: 'data', format: 'csv', id: @grading_set.id %>" class="btn btn-sm btn-outline-primary">
      Download grading data
    </a>
  </div>
</div>
<table class="table table-striped align-middle mb-4">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
    <% @grading_set.grading_set_images.each do |grading_set_image| %>
      <% gradeable = grading_set_image.gradeable %>
      <tr>
        <td class="align-top" style="width:1%;">
          <a href="<%= url_for controller: 'images', action: 'show', id: gradeable.id %>">
            <%= 
              image_tag gradeable.variant_url(ImageVariantable::SIZES[:list]),
                class:  gradeable.class == Image ? 'rounded' : "rounded img-stack",
                style: "max-width: 150px;max-height: 150px;"
            %>
          </a>
        </td>
        <td class="align-top">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="<%= label_class %>">
                  <%= gradeable.class == Image ? 'Image' : 'Image Set' %>
                </div>
                <div class="<%= data_class %>">
                  <a href="<%= gradeable_url(gradeable) %>">
                    <%= gradeable.name %>
                  </a>
                </div>
                <% if gradeable.class == ImageSet %>
                  <div class="<%= label_class %>">
                    # Images
                  </div>
                  <div class="<%= data_class %>">
                    <%= gradeable.image_count %>
                  </div>
                <% end %>
                <div class="<%= label_class %>">
                  Source
                </div>
                <div class="<%= data_class %>">
                  <a href="<%= url_for controller: 'images', image_source_id: gradeable.image_source.id %>">
                    <%= gradeable.image_source.name %>
                  </a>
                </div>
                <div class="<%= label_class %>">
                  Uploaded On
                </div>
                <div class="<%= data_class %>">
                  <%= gradeable.created_at %>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="<%= label_class %>">
                  Completed
                </div>
                <div class="<%= data_class %>">
                  <%= grading_set_image.complete_count %> / <%= @grading_set.users.count %>
                  <% if grading_set_image.complete_count > 0 && grading_set_image.complete_count == @grading_set.users.count %>
                    <span class="badge bg-success">
                      100%
                    </span> 
                  <% end %>
                </div>
                <% if @grading_set.flipped_percent > 0 || grading_set_image.complete_count_flipped > 0 %>
                  <div class="<%= label_class %>">
                    Flipped
                  </div>
                  <div class="<%= data_class %>">
                    <%= grading_set_image.complete_count_flipped %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </td>
        <td class="align-top" style="width:1%;">
          <%= form_with url: url_for(controller: 'grading_sets', action: 'removeimage', 
            id: @grading_set.id), 
            html: {onsubmit: "return confirm('Remove #{gradeable.name} from this grading set?  It will also remove andy grades entered.');"} do |form| 
          %>
            <input type="hidden" name="grading_set_image_id" value="<%= grading_set_image.id %>" />
            <input type="submit" class="btn btn-sm btn-outline-primary" value="Remove" />
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_pack_tag 'user_select' %>