<%= form_with model: @image_source do |form| %>
  <div class="mb-3">
    <%= label_tag :name, "Image Folder Name", for: 'name', class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-3 form-check">
    <%= form.check_box :create_image_sets, class: 'form-check-input' %>
    <%= label_tag :name, "Sort images into image sets?", for: 'active', class: 'form-check-label' %>
    <div class="form-text">
      When checked, images uploaded to this folder will be sorted automatically into image sets based on a metadata field's value.
      <br />
      The name of the set will be the value of the metadata field.
      <div class="mt-1 mb-3">
        <%= label_tag :create_image_sets_metadata_field, "Image set metadata field", for: 'name', class: 'form-label' %>
        <%= form.text_field :create_image_sets_metadata_field, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="mb-3 form-check">
    <%= form.check_box :active, class: 'form-check-input' %>
    <%= label_tag :name, "Active?", for: 'active', class: 'form-check-label' %>
    <div class="form-text">
      An inactive image folder will not be available for adding to grading sets. 
      <br/>
      It will still be available for existing grading sets and data downloads.
    </div>
  </div>

  <% unless @image_source.errors.blank? %>
    <hr/>
    <ul class="text-danger">
    <% @image_source.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>

  <hr/>
  <%= form.submit "Submit image folder", class: "btn btn-primary" %>
  <%= link_to 'Cancel', {controller: 'image_sources'}, class: "btn" %>
  <% unless @image_source.id.blank? %>
    <%= link_to 'Delete', 
      {controller: 'image_sources', action: 'destroy', id: @image_source.id}, 
      method: :delete,
      data: {confirm: 'Are you sure you wish to delete this Image folder?'},
      class: "btn btn-danger ms-5" 
  %>
  <% end %>
<% end %>
