<h1>Image Folders</h1>
<table class="table table-striped mb-3">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col"># of Images</th>
      <th scope="col">Active?</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @image_sources.each do |source| %>
      <tr>
        <td><%= source.name %></td>
        <td><%= source.image_count %></td>
        <td><%= source.active? ? 'Active' : 'Inactive' %></td>
        <td class="text-nowrap" width="1%">
          <%= link_to 'upload images', controller: 'images', action: 'new', image_source_id: source.id %>
          &nbsp;|&nbsp;
          <%= link_to 'edit', controller: 'image_sources', action: 'show', id: source.id %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%=
  link_to 'New Image Folder', 
    {controller: 'image_sources', action: 'new'},
    {class: 'btn btn-primary'}
%>
