<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Images', {controller: 'images'} %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Metadata
    </li>
  </ol>
</nav>

<h3>Upload Metadata</h3>

<p>
  Upload an XLSX spreadsheet with image and image set metadata.  See this template file for example usage: <a href="/documents/templatemetadataupload.xlsx">templatemetadataupload.xlsx</a>.
</p>
<p>
  Metadata files can include data for images, referenced by image filename, or image sets referenced by the metadata image set field value.
</p>
<p>
  The following metadata fields are LOCKED and cannot be updated:
  <ul>
    <li><strong>Images</strong>: <%= Image.new.fixed_metadata.join(', ') %></li>
    <li><strong>Image Sets</strong>: <%= ImageSet.new.fixed_metadata.join(', ') %></li>
  </ul>
</p>

<%= javascript_pack_tag 'metadata_upload' %>
<hr/>

<div id="react-app-container" 
  data-authenticity-token="<%= form_authenticity_token %>"
  data-image-sources="<%= JSON.dump(@image_sources.as_json) %>"
  data-image-source-id="<%= @image_source_id %>">
</div>
