<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Images', {controller: 'images'} %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Metadata
    </li>
  </ol>
</nav>

<h3>Upload Image Metadata</h3>

Upload an XLSX spreadsheet with image metadata.  See this template file for example usage: <a href="/templateuploadsDB2testV5.xlsx">templateuploads.xlsx</a>

<%= javascript_pack_tag 'metadata_upload' %>
<hr/>

<div id="react-app-container" 
  data-authenticity-token="<%= form_authenticity_token %>"
  data-image-sources="<%= JSON.dump(@image_sources.as_json) %>"
  data-image-source-id="<%= @image_source_id %>">
</div>
