<% 
  image = @grading_set_image.image
  image_index = @user_grading_set.index_of_image(image)
  image_count = @user_grading_set.image_count 
%>
<h2><%= @user_grading_set.grading_set.name %></h2>

<div class="row">
  <div class="col-lg-8 col-md-6 col-xs-12">
    <%= 
      image_tag image.variant_url(Image::SIZES[:main]),
        class: "img-fluid img-thumbnail mb-3",
        alt: image.filename
    %>
    <a class="btn btn-primary" 
      href="<%= url_for image.image_file %>"
      target="_blank"
    >
      Open Original Image
    </a>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="grading-controls">
      <h4 class="text-center mb-4">
        Image <%= image_index + 1 %> / <%= @user_grading_set.image_count %>
      </h4>

      <%= form_with url: url_for(controller: 'grading', action: 'grade', 
          grading_set_id: @user_grading_set.grading_set.id), 
        method: :post do |form| 
      %>
        <input type="hidden" name="grading_set_image_id" 
          value="<%= @grading_set_image.id %>"
        >
        <div class="section-main">

          <div class="row">
            <div class="col-lg-12">
              <label class="form-label">
                Do you consider the quality of this image sufficient to be able to grade it?
              </label>
            </div>
            <div class="col-lg-12 text-lg-end">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" 
                  value="<%= UserGradingSetImage::YES_NO_VALUES[:yes] %>"
                  name="grading_data[photo_quality]" id="photo_quality_1">
                <label class="form-check-label" for="photo_quality_1">
                  Yes
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" 
                  value="<%= UserGradingSetImage::YES_NO_VALUES[:no] %>"
                  name="grading_data[photo_quality]" id="photo_quality_0">
                <label class="form-check-label" for="photo_quality_0">
                  No
                </label>
              </div>
            </div>
          </div>
          <hr/>
        </div>

        <div class="secton-is-everted d-none">
          <div class="row">
            <div class="col-lg-12">
              <label class="form-label">Is the eyelid everted?</label>
            </div>
            <div class="col-lg-12 text-lg-end">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" 
                  value="<%= UserGradingSetImage::YES_NO_VALUES[:yes] %>"
                  name="grading_data[is_everted]" id="is_everted_1">
                <label class="form-check-label" for="is_everted_1">
                  Yes
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" 
                  value="<%= UserGradingSetImage::YES_NO_VALUES[:no] %>"
                  name="grading_data[is_everted]" id="is_everted_0">
                <label class="form-check-label" for="is_everted_0">
                  No
                </label>
              </div>
            </div>
          </div>
          <hr/>
        </div>

        <div class="section-everted d-none">

          <div class="col-lg-12">
            <label class="form-label">
              <strong>TF:</strong>
            </label>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:positive] %>"
                      name="grading_data[tf_grade]" id="tf_grade_1">
                    <label class="form-check-label" for="tf_grade_1">
                      Definitely Yes
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"  
                      value="<%= UserGradingSetImage::GRADE_VALUES[:negative] %>"
                      name="grading_data[tf_grade]" id="tf_grade_0">
                    <label class="form-check-label" for="tf_grade_0">
                      Definitely No
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:maybe_positive] %>"
                      name="grading_data[tf_grade]" id="tf_grade_2">
                    <label class="form-check-label" for="tf_grade_2">
                      Probably Yes
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:maybe_negative] %>"
                      name="grading_data[tf_grade]" id="tf_grade_-1">
                    <label class="form-check-label" for="tf_grade_-1">
                      Probably No
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr/>
          
          <div class="col-lg-12">
            <label class="form-label">
              <strong>TI:</strong>
            </label>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:positive] %>"
                      name="grading_data[ti_grade]" id="ti_grade_1">
                    <label class="form-check-label" for="ti_grade_1">
                      Definitely Yes
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:negative] %>"
                      name="grading_data[ti_grade]" id="ti_grade_0">
                    <label class="form-check-label" for="ti_grade_0">
                      Definitely No
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:maybe_positive] %>"
                      name="grading_data[ti_grade]" id="ti_grade_2">
                    <label class="form-check-label" for="ti_grade_2">
                      Probably Yes
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:maybe_negative] %>"
                      name="grading_data[ti_grade]" id="ti_grade_-1">
                    <label class="form-check-label" for="ti_grade_-1">
                      Probably No
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr/>
          
          <div class="col-lg-12">
            <label class="form-label">
              <strong>TS:</strong>
            </label>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:positive] %>" 
                      name="grading_data[ts_grade]" id="ts_grade_1">
                    <label class="form-check-label" for="ts_grade_1">
                      Definitely Yes
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:negative] %>"
                      name="grading_data[ts_grade]" id="ts_grade_0">
                    <label class="form-check-label" for="ts_grade_0">
                      Definitely No
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:maybe_positive] %>" 
                      name="grading_data[ts_grade]" id="ts_grade_2">
                    <label class="form-check-label" for="ts_grade_2">
                      Probably Yes
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:maybe_negative] %>"
                      name="grading_data[ts_grade]" id="ts_grade_-1">
                    <label class="form-check-label" for="ts_grade_-1">
                      Probably No
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr/>
        </div>

        <div class="section-everted-no d-none">

          <div class="col-lg-12">
            <label class="form-label">
              <strong>Upper</strong> eyelid trichiasis:
            </label>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:positive] %>" 
                      name="grading_data[upper_lid_tt_grade]" id="upper_lid_tt_grade_1">
                    <label class="form-check-label" for="upper_lid_tt_grade_1">
                      Definitely Yes
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" 
                      value="<%= UserGradingSetImage::GRADE_VALUES[:negative] %>" 
                      name="grading_data[upper_lid_tt_grade]" id="upper_lid_tt_grade_0">
                    <label class="form-check-label" for="upper_lid_tt_grade_0">
                      Definitely No
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:maybe_positive] %>"  
                      name="grading_data[upper_lid_tt_grade]" id="upper_lid_tt_grade_2">
                    <label class="form-check-label" for="upper_lid_tt_grade_2">
                      Probably Yes
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:maybe_negative] %>" 
                      name="grading_data[upper_lid_tt_grade]" id="upper_lid_tt_grade_-1">
                    <label class="form-check-label" for="upper_lid_tt_grade_-1">
                      Probably No
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr/>

          <div class="col-lg-12">
            <label class="form-label">
              <strong>Lower</strong> eyelid trichiasis:
            </label>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:positive] %>"
                      name="grading_data[lower_lid_tt_grade]" id="lower_lid_tt_grade_1">
                    <label class="form-check-label" for="lower_lid_tt_grade_1">
                      Definitely Yes
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:negative] %>"
                      name="grading_data[lower_lid_tt_grade]" id="lower_lid_tt_grade_0">
                    <label class="form-check-label" for="lower_lid_tt_grade_0">
                      Definitely No
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:maybe_positive] %>" 
                      name="grading_data[lower_lid_tt_grade]" id="lower_lid_tt_grade_2">
                    <label class="form-check-label" for="lower_lid_tt_grade_2">
                      Probably Yes
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                      value="<%= UserGradingSetImage::GRADE_VALUES[:maybe_negative] %>" 
                      name="grading_data[lower_lid_tt_grade]" id="lower_lid_tt_grade_-1">
                    <label class="form-check-label" for="lower_lid_tt_grade_-1">
                      Probably No
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr/>
        </div>

        <div class="form-submit mt-3">
          <button type="submit" class="btn btn-primary submit-grading" disabled>
            Submit Grading
          </button>
        </div>
      <% end if !@user_grading_set_image %>

      <% if @user_grading_set_image %>
        <hr/>
        <div class="row">
          <% if image_index == image_count - 1 %>
            <div class="col-sm-8">
              All images in this grading set have been graded.
            </div>
            <%= form_with url: url_for(controller: 'grading', action: 'complete', grading_set_id: @user_grading_set.grading_set.id), 
              method: :post, class: 'col-sm-12 p-2 d-grid' do |form| 
            %>
              <hr/>
              <button type="submit" class="btn btn-primary">
                Complete Grading
              </button>
            <% end %>
          <% else %>
            <div class="col-sm-8">
              Grading for this image has been completed
            </div>
            <div class="col-sm-4 text-end">
              <a href="<%= url_for(controller: 'grading', grading_set_id: @user_grading_set.grading_set.id) %>" class="btn btn-primary">
                Next &#8594;
              </a>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'grading_scripts' %>