<h2><%= @user_grading_set.grading_set.name %></h2>
<hr/>
<div id="react-app-container" 
  data-authenticity-token="<%= form_authenticity_token %>"
  data-user-grading-set="<%= JSON.dump(@user_grading_set.as_json) %>"
  data-grading-type="<%= 'FGSGrading' %>"
></div>

<%= javascript_pack_tag 'grading' %>
