<%
  label_class = "col-lg-3 col-md-4 fw-bold text-md-end"
  data_class = "col-lg-9 col-md-8 "
%>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      Images
    </li>
  </ol>
</nav>

<%= form_with url: url_for(controller: 'images'), 
  method: :get, 
  id: 'search-form',
  class: 'row mb-3 gy-2 gx-3 align-items-center' do |form| 
%>
  <input type="hidden" name="limit" value="<%= @limit %>" />
  <input type="hidden" name="offset" value="<%= @offset %>" />
  <div class="col-auto">
    <label for="filename" class="form-label form-label-sm">Filename</label>
    <input type="text" class="form-control form-control-sm" 
      id="filename" name="filename" 
      value="<%= params[:filename] %>"
    />
  </div>
  <div class="col-auto">
    <label for="image_source" class="form-label form-label-sm">Source</label>
    <input type="text" class="form-control form-control-sm"
      id="image_source" name="image_source" 
      value="<%= params[:image_source] %>"
    />
  </div>
  <div class="col-auto">
    <label for="grading_set" class="form-label form-label-sm">Grading Set</label>
    <input type="text" class="form-control form-control-sm"
      id="grading_set" name="grading_set" 
      value="<%= params[:grading_set] %>"
    />
  </div>
  <div class="col-auto">
    <label class="form-label">&nbsp;</label>
    <button class="btn btn-primary form-control form-control-sm" type="submit">
      Search Images
    </button>
  </div>
  <div class="col-auto">
    <label class="form-label form-label-sm">Upload</label>
    <div class="input-group btn-group">
      <a class="btn btn-outline-secondary form-control form-control-sm" type="button" href="<%= url_for controller: 'images', action: 'new' %>">
        Images
      </a>
      <a class="btn btn-outline-secondary form-control form-control-sm" type="button" href="<%= url_for controller: 'metadata' %>">
        Metadata
      </a>
    </div>
  </div>

  <input id="selected-grading-set" name="grading_set_id" type="hidden" />
  <div class="modal fade" id="add-grading-set-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Add selected images to grading set
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="grading-set-search" 
            data-target-input="#selected-grading-set"
            data-enable-button="#add-grading-set-button"
          ></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <input id="add-grading-set-button" 
            formaction="<%= url_for controller: 'images', action: 'addtogradingset' %>"
            formmethod="post"
            type="submit"
            class="btn btn-primary" disabled 
            value="Add to grading set"
          />
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped table-bordered align-middle">
    <thead>
      <tr>
        <th scope="col" style="vertical-align: middle;">
          <input class="form-check-input" type="checkbox" 
            name="image_id_all" value="all" 
          />
        </th>
        <th scope="col" colspan="2" style="vertical-align: middle;">
          <span class="display-inline me-2">
            <%= @images_count %> Images
          </span>
          <div class="btn-group" role="group">
            <button type="button"
              class="btn btn-sm btn-outline-primary"
              data-bs-toggle="modal" data-bs-target="#add-grading-set-modal"
            >
              Add to grading set
            </button>
            <!-- <button type="button"
              class="btn btn-sm btn-outline-primary"
            >
              Download
            </button>
            <button type="button"
              class="btn btn-sm btn-outline-primary"
            >
              Archive
            </button> -->
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @images.each do |image| %>
        <tr>
          <td style="width:1%;">
            <input class="form-check-input" type="checkbox" 
              name="image_ids[]" value="<%= image.id %>"
            />
          </td>
          <td style="width:1%;">
            <a href="<%= url_for controller: 'images', action: 'show', id: image.id %>">
              <%= 
                image_tag image.image_file.variant(resize_to_limit: [150, nil]),
                  class: "img-thumbnail",
                  style: "max-width: 150px;max-height: 150px;"
              %>
            </a>
          </td>
          <td>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="<%= label_class %>">
                    Filename
                  </div>
                  <div class="<%= data_class %>">
                    <%= link_to image.filename, {controller: 'images', action: 'show', id: image.id} %>
                  </div>
                  <div class="<%= label_class %>">
                    Source
                  </div>
                  <div class="<%= data_class %>">
                    <a href="<%= url_for controller: 'images', image_source_id: image.image_source.id %>">
                      <%= image.image_source.name %>
                    </a>
                  </div>
                  <div class="<%= label_class %>">
                    Uploaded On
                  </div>
                  <div class="<%= data_class %>">
                    <%= image.created_at %>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="<%= label_class %>">
                    Grading Sets
                  </div>
                  <div class="<%= data_class %>">
                    <ul class="list-unstyled">
                      <% image.grading_sets.each do |grading_set| %>
                        <li>
                          <a href="<%= url_for controller: 'grading_sets', action: 'show', id: grading_set.id %>">
                            <%= grading_set.name %>
                          </a>
                        </li>
                      <% end %>
                    </ul>
                  </div>  
                </div>  
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <nav>
    <ul class="pagination">
      <li class="page-item <%= 'disabled' if @offset < 1 %>">
        <a class="page-link" 
          data-offset="<%= @offset - @limit %>"
          <%= 'href=#' unless @offset < 1 %>
        >
          Previous
        </a>
      </li>
      <% current_page = (@offset / @limit) %>
      <% (0..(@images_count.to_f / @limit.to_f).ceil - 1).each do |page| %>
        <li class="page-item <%= 'active' if page == current_page %>">
          <a class="page-link" <%= 'href=#' unless page == current_page %>
            data-offset="<%= page * @limit %>"
          >
            <%= page + 1 %>
          </a>
        </li>
      <% end %>
      <li class="page-item <%= 'disabled' if @offset + @limit >= @images_count %>">
        <a class="page-link" 
          data-offset="<%= @offset + @limit %>" 
          <%= 'href=#' unless @offset + @limit >= @images_count %> 
        >
          Next
        </a>
      </li>
    </ul>
  </nav>

<% end %>

<%= javascript_pack_tag 'image_scripts' %>