<%
  label_class = "col-lg-3 col-md-4 fw-bold text-md-end"
  data_class = "col-lg-9 col-md-8 "
%>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      Images
    </li>
  </ol>
</nav>

<%= form_with url: url_for(controller: 'images'),
  method: :get, 
  local: true,
  id: 'search-form',
  class: 'row mb-3 gy-2 gx-3 align-items-center' do |form| 
%>
  <input type="hidden" name="limit" value="<%= @limit %>" />
  <input type="hidden" name="offset" value="<%= @offset %>" />
  <div class="col-lg-2">
    <label for="filename" class="form-label form-label-sm">Filename</label>
    <input type="text" class="form-control form-control-sm" 
      id="filename" name="filename" 
      value="<%= params[:filename] %>"
    />
  </div>
  <div class="col-lg-2">
    <label for="image_source" class="form-label form-label-sm">Folder</label>
    <select name="image_source_id" class="form-select form-select-sm">
      <option value=""></option>
      <% @image_sources.each do |image_source| %>
        <option value="<%= image_source.id %>" 
          <%= params[:image_source_id] == image_source.id.to_s ? "selected" : '' %>
        >
          <%= image_source.name %>
        </option>
      <% end %>
    </select>
  </div>
  <div class="col-lg-2">
    <label for="grading_set" class="form-label form-label-sm">Grading Set</label>
    <input type="text" class="form-control form-control-sm"
      id="grading_set" name="grading_set" 
      value="<%= params[:grading_set] %>"
    />
  </div>
  <div class="col-lg-4">
    <label for="metadata_value" class="form-label form-label-sm">Metadata</label>
    <div class="input-group input-group-sm ">
      <select name="metadata_key" class="form-select form-select-sm">
        <option value=""></option>
        <% @metadata_keys.each do |key| %>
          <option value="<%= key %>" 
            <%= params[:metadata_key] == key ? "selected" : '' %>
          >
            <%= key %>
          </option>
        <% end %>
      </select>
      <span class="input-group-text input-group-sm">&asymp;</span>
      <input type="text" class="form-control form-control-sm"
        id="metadata_value" name="metadata_value" 
        value="<%= params[:metadata_value] %>"
      />
    </div>
  </div>
  <div class="col-lg-2">
    <label class="form-label form-label-sm">&nbsp;</label>
    <button class="btn btn-primary form-control btn-sm" type="submit">
      Search Images
    </button>
  </div>


  <% if current_user.admin? %>
    <input id="selected-grading-set" name="grading_set_id" type="hidden" />
    <div class="modal fade" id="add-grading-set-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Add selected images to grading set
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="grading-set-search" 
              data-target-input="#selected-grading-set"
              data-enable-button="#add-grading-set-button"
            ></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancel
            </button>
            <input id="add-grading-set-button" 
              formaction="<%= url_for controller: 'images', action: 'addtogradingset' %>"
              formmethod="post"
              type="submit"
              class="btn btn-primary" disabled 
              value="Add to grading set"
            />
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <table class="table table-striped table-bordered align-middle">
    <thead>
      <tr>
        <th scope="col" style="vertical-align: middle;">
          <input class="form-check-input" type="checkbox" 
            name="image_id_all" value="all" 
          />
        </th>
        <th scope="col" colspan="2" style="vertical-align: middle;">
          <span class="display-inline me-2">
            <%= @images_count %> Images
          </span>
          <div class="btn-group" role="group">
            <% if current_user.admin? %>
              <button type="button"
                class="btn btn-sm btn-outline-primary"
                data-bs-toggle="modal" data-bs-target="#add-grading-set-modal"
              >
                Add to grading set
              </button>
            <% end %>
            <input id="add-grading-set-button"
              class="btn btn-sm btn-outline-primary"
              formaction="<%= url_for controller: 'images', action: 'metadata'  %>"
              formmethod="post"
              type="submit"
              value="Download Metadata"
            />
            <input id="add-grading-set-button"
              class="btn btn-sm btn-outline-primary"
              formaction="<%= url_for controller: 'images', action: 'exif_data'  %>"
              formmethod="post"
              type="submit"
              value="Download Exif Data"
            />
            <!-- <button type="button"
              class="btn btn-sm btn-outline-primary"
            >
              Download
            </button>
            <button type="button"
              class="btn btn-sm btn-outline-primary"
            >
              Archive
            </button> -->
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @images.each do |image| %>
        <tr>
          <td style="width:1%;">
            <input class="form-check-input" type="checkbox" 
              name="image_ids[]" value="<%= image.id %>"
            />
          </td>
          <td style="width:1%;">
            <a href="<%= url_for controller: 'images', action: 'show', id: image.id %>">
              <%= 
                image_tag image.variant_url(Image::SIZES[:list]),
                  class: "img-thumbnail",
                  style: "max-width: 150px;max-height: 150px;"
              %>
            </a>
          </td>
          <td>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="<%= label_class %>">
                    Filename
                  </div>
                  <div class="<%= data_class %>">
                    <%= link_to image.filename, {controller: 'images', action: 'show', id: image.id} %>
                  </div>
                  <div class="<%= label_class %>">
                    Folder
                  </div>
                  <div class="<%= data_class %>">
                    <a href="<%= url_for controller: 'images', image_source_id: image.image_source.id %>">
                      <%= image.image_source.name %>
                    </a>
                  </div>
                  <div class="<%= label_class %>">
                    Uploaded On
                  </div>
                  <div class="<%= data_class %>">
                    <%= image.created_at %>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="<%= label_class %>">
                    Grading Sets
                  </div>
                  <div class="<%= data_class %>">
                    <ul class="list-unstyled">
                      <% image.grading_sets.each do |grading_set| %>
                        <li>
                          <%= grading_set_link grading_set %>
                        </li>
                      <% end %>
                    </ul>
                  </div>  
                </div>  
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <nav>
    <ul class="pagination flex-wrap">
      <li class="page-item <%= 'disabled' if @offset < 1 %>">
        <a class="page-link" 
          data-offset="<%= @offset - @limit %>"
          <%= 'href=#' unless @offset < 1 %>
        >
          Previous
        </a>
      </li>
      <% current_page = (@offset / @limit) %>
      <% (0..(@images_count.to_f / @limit.to_f).ceil - 1).each do |page| %>
        <li class="page-item <%= 'active' if page == current_page %>">
          <a class="page-link" <%= 'href=#' unless page == current_page %>
            data-offset="<%= page * @limit %>"
          >
            <%= page + 1 %>
          </a>
        </li>
      <% end %>
      <li class="page-item <%= 'disabled' if @offset + @limit >= @images_count %>">
        <a class="page-link" 
          data-offset="<%= @offset + @limit %>" 
          <%= 'href=#' unless @offset + @limit >= @images_count %> 
        >
          Next
        </a>
      </li>
    </ul>
  </nav>

<% end %>

<%= javascript_pack_tag 'image_scripts' %>