<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-xl">
    <%= link_to 'TF Imagery DB', {controller: 'home'}, class: 'navbar-brand' %>
    <button class="navbar-toggler" 
      type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if current_user %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Home', {controller: 'home'}, class: 'nav-link' %> 
          </li>
          <li class="nav-item">
            <%= link_to 'Grade', {controller: 'dashboard'}, class: 'nav-link' %> 
          </li>
          <% if current_user.admin? || current_user.image_admin? || current_user.image_viewer? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="imageSourcesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Image Folders
              </a>
              <ul class="dropdown-menu" aria-labelledby="imageSourcesDropdown">
                <li>
                  <a class="dropdown-item" href="<%= url_for controller: 'image_sources' %>">
                    Image Folders List
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="<%= url_for controller: 'image_sources', action: 'new' %>">
                    Create Image Folder
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="imagesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Images
              </a>
              <ul class="dropdown-menu" aria-labelledby="imagesDropdown">
                <li>
                  <a class="dropdown-item" href="<%= url_for controller: 'images' %>">
                    Images List
                  </a>
                </li>
                <% if current_user.admin? || current_user.image_admin? %>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="<%= url_for controller: 'images', action: 'new' %>">
                    Upload Images
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="<%= url_for controller: 'metadata' %>">
                    Upload Metadata
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="<%= url_for controller: 'images', action: 'download' %>">
                    Download Images
                  </a>
                </li>
                <% end %>
              </ul>
            </li>
          <% end %>
          <% if current_user.admin? || current_user.image_admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="gradingSetsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Grading Sets
              </a>
              <ul class="dropdown-menu" aria-labelledby="gradingSetsDropdown">
                <li>
                  <a class="dropdown-item" href="<%= url_for controller: 'grading_sets' %>">
                    Grading Sets List
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="<%= url_for controller: 'grading_sets', action: 'new' %>">
                    Create Grading Set
                  </a>
                </li>
              </ul>
            </li>
          <% end %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to 'Users', {controller: 'users'}, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <!--  <li>
                  <a class="dropdown-item" href="#">Preferences</a>
                </li> -->
                <li>
                  <%= link_to 'Sign Out', {controller: 'sessions', action: 'delete'}, class: 'dropdown-item' %>
                </li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Sign In', {controller: 'sessions', action: 'new'}, class: 'nav-link' %> 
            </li>
          </ul>
        <% end %>
      </form>
    </div>
  </div>
</nav>